.dialog :global(.mdc-dialog__surface) {
    max-width: 600px;
    width: 90vw;
}

.title {
    color: #fff !important;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.field {
    width: 100%;
}