.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    & .card {
        max-width: 28rem;
        padding: 2rem;
        width: 100%;

        & .title {
            margin-bottom: 2rem;
            text-align: center;
            margin-top: 0;
        }

        & .formInputs {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            & .formInput {
                width: 100%;
            }
        }

        & .buttonContainer {
            margin-top: 2rem;


            & .button {
                width: 100%;
            }
        }
    }

    & .error {
        background-color: oklch(57.7% 0.245 27.325);
        font-size: 0.875rem;
        line-height: calc(1.25 / 0.875);
        border-radius: 0.375rem;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1rem;
        font-weight: 600;


    }
}